<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit</title>
</head>
<body>
  <a href="/articles/">articles로</a>
  <form action="/articles/{{ article.pk }}/update/"> 
    <input type="text" name="title" value={{ article.title }}> <br/>
    <textarea name="content" cols="30" rows="10">{{ article.content }}</textarea> <br/>
    <button type="submit">edit</button>
  </form>
</body>
</html>