<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search</title>
</head>
<body>
  <h1>search!</h1>

  <form action="/pages/result/">
    검색어입력: <input type="text" name="query" placeholder="search"> <br/>
    검색카테고리: <input type="text" name="category" placeholder="category"><br/>
    <button type="submit">검색하기</button>
  </form>

  
</body>
</html>